{{ define "title" }} {{ .Title }} {{ end }} {{ define "content" }}
<article class="prose prose-slate">
  <h2 class="my-1">{{ .Title }}</h2>
  <p class="text-sm text-gray-500 my-1">{{ .CreatedAt.Format "2006-01-02" }}</p>
  <div class="my-3 mb-0">{{ range .Body }} {{ .Render }} {{ end }}</div>
</article>

{{ end }}
